body {
    font-family: 'Noto Sans', sans-serif;
  }
  
  header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: left;
  }
  
  #nav-bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #nav-bar li {
    display: inline;
    margin-right: 10px;
  }
  
  #nav-bar a {
    text-decoration: none;
    color: #333;
  }
  
  #nav-bar #highlight a {
    color: #007BFF;
  }
  
  #main {
    margin: 20px;
  }
  
  #main h1, #main h2 {
    color: #007BFF;
  }
  
  #main p {
    color: #333;
  }
  
  .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  #CopyRight {
    color: #6c757d;
  }
  